body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.falling-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: -1; /* Menempatkan latar belakang di belakang konten */
  animation: fall 16s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }
  29% {
    opacity: 0.2;
  }
  30% {
    transform: translateY(0%);
    opacity: 0;
  }
  31% {
    opacity: 0;
  }
  35% {
    transform: translateY(-40%);
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  69% {
    opacity: 0.2;
  }
  70% {
    transform: translateY(0%);
    opacity: 0;
  }
  71% {
    opacity: 0;
  }
  75% {
    transform: translateY(-40%);
    opacity: 0;
  }
  86% {
    opacity: 1;
  }
  94% {
    opacity: 0.2;
  }
  95% {
    transform: translateY(0%);
    opacity: 0;
  }
  96% {
    opacity: 0;
  }
  100% {
    transform: translateY(-40%);
    opacity: 0;
  }
}
